_build/
build-and-test.yaml
#Removes all filed in outout/c and output/DOT, except .gitkeep, thus allowing the folder to be commited to main
output/c/*
output/DOT/*
!output/c/.gitkeep
!output/DOT/.gitkeep
.DS_Store
bufftest
bin/test.sm
bin/guardtest.sm
bin/graph.gv
bin/graph.png
